*{
    padding: 0;
    margin: 0;
}
/* html{
     font-size: 20px;  */

}
.div{
    height: 90vh;
    width: 90vw;
    border: 2px solid red;
}
#parent{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    height: 500px;
    width: 500px;
    font-size: 40px;
}
#child{
    height: 80%;
    width:50% ;
    border: 2px solid red;
    /* margin: 10px;
    padding: 10px;
    border: 2px solid red;
    font-size: 3rem; */
}
#grandchild{
    
}