div{
    background-color: black;
    color:red;
    height: 100px;
    width:100px;
    border: 10px dotted red;

}
h1{
    background-color: black;
    color:red;
    height: 100px;
    width:100px;
    border: 10px dotted red;

}
button{
    background-color: black;
    color:red;
    height: 100px;
    width:100px;
    border: 10px dotted red;
}
p{
    background-color: black;
    color:red;
    height: 100px;
    width:100px;
    border: 10px dotted red;
}
span{
    background-color: black;
    color:red;
    height: 100px;
    width:100px;
    border: 10px dotted red;
}