* {
    margin: 0px;
    padding: 0px;
}
 div{
    color: white;
    background-color: black;
    height: 100px;
    width: 100px;
    border: 2px solid red;
    margin: 10px;
    padding-left:5px 5px 5px 5px ;
 }